services:
  embedded-dev:
    build:
      context: ..
      dockerfile: container/Dockerfile
    container_name: embedded-dev
    working_dir: /workspace
    stdin_open: true
    tty: true
    volumes:
      - ..:/workspace
      - ccache_data:/ccache
    environment:
      - CCACHE_DIR=/ccache

volumes:
  ccache_data: